# AWS Configuration for GenAI Services
VITE_AWS_REGION=us-east-2
VITE_AWS_ACCESS_KEY_ID=ASIAYD5QVP55S3ZD3AQ2
VITE_AWS_SECRET_ACCESS_KEY=xDHCW+xvsQu/DBHb9Z0TfWUXRbBkuFTeav3cqTg8
VITE_AWS_SESSION_TOKEN=IQoJb3JpZ2luX2VjEDIaCXVzLWVhc3QtMiJIMEYCIQCA28CMrOSRLfcIH+/wxSTt9q2/DHXX+16oK5uGHdC/ZwIhAMpY+DFdurGzM1XObV5NDjKNeNVE3cfWcZl7O1VP/uU3KqwDCOv//////////wEQABoMNTU4MTc5Mzg1MjExIgy0VbnSm7LRHIlDWeEqgANvUDWsfx84Az0yOcx/WOzVAuN+6WJ8krOXBY6oskHIQFVzSSC6/IkTS5K4BM/hyqaIKtWfYndnoHYJK1JCeeH8SKTv1P+7KWxw+QukT1TfEUezNzNpBAA2SYBJhg7GopRaivamLMgJs00iPmJTM+cLGoycOdLCJSNL9mSRspkOP8SpcCqW4XegxpwRC0Xetwc/jGavF6ZxJyeqD27k9Of42zM8sPxiPKU/+ptSl3tn2MN9QDuF3uW8+0u2dfJsoiawV6DdZmFVXSsFilBQ5sL10RNudW3Ic/0gVO2Qv6r4KB1hl3Aoz7ZfIUWUB6uMrgKXppI2PyKzcgbGEWLs6FEkvCDcotRVDy/DZhN9u4OKksopTTH8a4q8jxhsU8QACKYppoxYkrkFrYpf3v8nExePGqrvd7O4SWxSCbDwxhhwQpDDGGsqZNSApsPBVmnVEd13Yz8SlcLTxGnTGugZdcuVmoZoj7MNOVtQqjJminwC/4UAYqkOIruIjSarO1eh0FIwzO2MyAY6owG6s9VTH1zm02lV6ys4JTpHsZ2XBmEXIxif5NQ3QEQvQH9mjO1IiwjfqYVQ5JCi6Vfg+UhGNSrNlWJv/Az7idNPFb0IKRIEe9heRmf/G+pApYXNCL+l+wNxQhyeGa63aQvxtCVU8+OQN5kNZrr/itIOR2K1tRP/h/Oct8YKQkZ8ce0MBOO4i45IzCBLJPf9Srdb1x5ojzHpxdjogj+QCT49t9zj

